@import url('fonts.css');
@import url('ui.css');
@import url('layout.css');
@import url('tablet.css');
@import url('desktop.css');



:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f0f0f0;

  --IntegralCF-Regular: 'IntegralCF Regular', sans-serif;
  --IntegralCF-Medium: 'IntegralCF Medium', sans-serif;
  --IntegralCF-Bold: 'IntegralCF Bold', sans-serif;
  

  --Satoshi-Regular: 'Satoshi Regular', sans-serif;
  --Satoshi-Medium: 'Satoshi Medium', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden
}



.nav-container {
  display: flex;
  font-family: var(--Satoshi-Regular);
  width: 100%;
  padding: 0.75rem;
  font-size: 0.8rem;
  background-color: var(--color-black);
  color: var(--color-white);
  justify-content: center;
  text-align: center;
}

.nav-container span {
  text-decoration: underline;
  font-weight: bold;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sub-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

.nav-container-right {
  display: none;
}

.header {
  display: flex;
  background-color: var(--color-white);
  width: 100%;
  justify-content: center;
  height: 4rem;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.header-container-left,
.header-container-right {
  display: flex;
  gap: 1rem;
}

.header-container-left p {
  font-size: 25.2px;
  margin-top: -0.5rem;
}

.header-items {
  display: none;
  align-items: center;
  font-family: var(--Satoshi-Regular);
  gap: 1rem;
  color: #000000;
}

.header-items-links {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.header-item-search {
  width: 100%;
  max-width: 42rem;
}

.input-search {
  width: 100%;
  height: 3rem;
  background-color: var(--color-gray);
  border-radius: 3.875rem;
  border: none;
  background-image: url("../images/search-icon-filter-gray.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 1.5rem 1.5rem;
  padding: 0 1rem 0 3rem;
  font-size: 1rem;
}

.logo {
  font-family: var(--IntegralCF-Bold);
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.section-one-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray);
}

.section-one-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.title-text-cf {
  font-family: var(--IntegralCF-Bold);
  font-size: 36px;
  width: 80%;
  margin: 1rem;
}

.sub-title-satoshi {
  font-family: var(--Satoshi-Regular);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 1rem;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.btn-shop {
  width: 22.375rem;
  height: 3.25rem;
  border-radius: 3.875rem;
  font-family: var(--Satoshi-Regular);
  font-size: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.section-one-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.section-one-items-top {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.text-title-description {
  font-family: var(--Satoshi-Medium);
}

.text-description {
  font-family: var(--Satoshi-Regular);
}

.line-divide {
  width: 1px;
  opacity: 20%;
  height: 4rem;
  background-color: var(--color-black);
  border: none;
}

.line-divide-two {
  display: none;
}

/* IMAGEM */
.image-section-one {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .people-image {
    width: 100%;
    height: 100%;
  }
}





/* LOGOS */

.logo-mark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  background-color: black;
  height: 7.5rem;
  padding: 1rem;
  list-style: none;
}

.logo-mark img {
  max-height: 25px;
}
.down-logo {
  max-width: 8rem;
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* SECTION TWO */

.text-product h1 {
  width: 100%;
  margin-top: 2.5rem;
}

.card-content {
  display: flex;
  width: 100%;
  white-space: nowrap;
}



.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 24px;
  width: 15rem;
  flex: 0 0 auto; 

}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  width: 100%;
  height: 13rem;
  border-radius: 10px;
  overflow: hidden;

}

.text-amount{
  font-family: var(--Satoshi-Medium);
  font-weight: bold;

}

.card-box img {
  width: 90%;
  object-fit: cover;

}

.text-card {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  gap: 0.2rem;

  
  .text-title-card {
    font-family: var(--Satoshi-Medium);
    font-weight: bold;
    overflow: hidden;


  }
  }
  

.review-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    font-size: 13px;
    font-family: var(--Satoshi-Regular);

  }
}

.review-card p span {
  margin: 0;
  color: red;
}
.price-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
  .text-amount-desconto {
    font-family: var(--Satoshi-Medium);
    color: #999999;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: line-through;
  }
  .desconto {
    display: flex;
    font-family: var(--Satoshi-Regular);
    justify-content: center;
    align-items: center;
    background-color: #ffebeb;
    width: 42px;
    height: 20px;
    border-radius: 62px;
    font-size: 12px;
    color: #FF3333;
  }
}

.btn-view-all {
  font-family: var(--Satoshi-Medium);
  width: 22.375rem;
  height: 2.875rem;
  border-radius: 62px;
  border: 1px solid #e4e4e4;
  background-color: white;
  margin-bottom: 3rem;
}

.div-line {
  display: flex;
  justify-content: center;
}
.divader-line {
  width: 90%;
  border: 1px solid #ecebeb;
}

.catalog-section {
  display: flex;
  justify-content: center;
}
.catalog-title {
  font-family: var(--IntegralCF-Bold);
  font-size: 1.5rem;
  text-align: center;
}
.catalog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  width: 95%;
  border-radius: 40px;
  gap: 1rem;
  padding: 1rem;
}


.catalog-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  width: 100%;
  padding: 3rem;
  gap: 1rem;
}
.catalog-card {
  width: 310px;
  height: 190px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  

  h1 {
    position: absolute;
    padding: 1rem;
    
  }
  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }


}

.catalog-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feedback-section {
  height: 100vh;
}

.feedback-settings {
  display: flex;
  justify-content: space-between;
  background-color: red;
  flex-wrap: wrap;
}

.feedback-title {
  background-color: green;
  font-family: var(--IntegralCF-Bold);
  font-size: 32px;
  white-space: normal;
  padding: 2.5rem 0 1rem 1rem;
  width: 70%;
}

.feedback-images {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  background-color: peru;
}

.feedback-vector-180 {
  transform: rotate(180deg);
}

.feedback-images img {
  width: 2rem;
  background-color: red;
  object-fit: cover;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.feedback-cards {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}


.feedback-card {
  display: flex;
  flex-direction: column;
  font-family: var(--Satoshi-Medium);
  gap: 1rem;
  padding: 1rem;
  min-width: 23rem;
  max-width: 25rem;
  height: 12rem;
  border: 1px solid var(--color-gray);
  border-radius: 1.25rem;

  .card-title {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    font-weight: bold;
  }
  .card-description {
    font-size: 0.875rem;
  }
}

/* Media Queries */

@media (min-width: 670px) {
  /* HEADER AND NAV   */
  .nav-container {
    font-size: 0.9rem;
  }

  .header {
    height: 4.5rem;
  }
  .header-container {
    padding: 1rem 2rem;
  }

  
  .header-container-left p {
    font-size: 32px;
  }

  /* FIRST SECTION */
  .section-one-container {
    justify-content: center;
    width: 100%;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-text-cf {
    text-align: center;
    font-size: 4rem;
  }

  .sub-title-satoshi {
    text-align: center;
  }

  .section-one-items {
    display: flex;
    flex-direction: row;
    .text-title-description {
      font-size: 2.5rem;
    }
  }

  .line-divide-two {
    display: flex;
    width: 1px;
    opacity: 20%;
    height: 4rem;
    background-color: var(--color-black);
    border: none;
  }


  /* LOGOS */

  .logo-mark
   img {
    max-height: 120px;
  }
  .down-logo {
    max-height: 100px;
    max-width: 200px;
  }

  .desconto {
    width: 58px;
    height: 28px;
  }

}

@media (min-width: 768px) {
  /* HEADER AND NAV */
  .nav-container {
    font-size: 0.95rem;
  }
  .header {
    height: 5rem;
  }
  .header-container {
    padding: 1rem 3rem;
  }
  .header-items-links {
    gap: 2rem;
  }




  .card-content {
    display: flex;
    justify-content: center;
  }

  .btn-view-all {
  width: 13.625rem;
  height: 3.25rem;
  }

  .catalog-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
    padding: 1rem;
  }
  
  .catalog-items {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: blue;
    flex-grow: 1; 
    width: 100%;
  }
  
  .catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-grow: 1; 
  }
  
  .catalog-card {
    display: flex;
    align-items: center;
    width: 407px;
    height: 289px;
    justify-content: start;
    align-items: start;
    text-align: center;
    overflow: hidden;


    h1 {
      background-color: green;
    }
    img {
      margin: 0;
      padding: auto;
      min-width: 450px;
      max-width: 100%;
      min-height: 10%;
      background-color: green;
    }
  }
  
  .card-second,
  .card-third {
    flex-grow: 1; 
    max-width: 50%;
  }

.feedback-card {
  display: flex;
  width: 25rem;
  height: 15rem;
  .card-title {
    font-size: 20px;
  }
  .card-description {
    font-size: 16px;
  }
}

  
  


}

@media (min-width: 1024px) {
  /* NAV AND HEADER */

  .nav-container {
    font-size: 1rem;
  }

  .nav-container-right {
    display: flex;
  }

  .header {
    height: 5.5rem;
  }

  .header-container {
    padding: 1rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-container-left img {
    display: none;
  }

  .header-items {
    display: flex;
    justify-content: flex-end;
    width: 74%;
  }

  .header-container-right .img-search {
    display: none;
  }

  .header-items-links {
    gap: 2.3rem;
  }

  /* !!! disable mobile image !!! */
  .image-section-one {
    display: none;
  }

  /* FIRST SECTION */

  .section-one-content {
    background-image: url(../images/banner-desktop.svg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: right;
    background-position: bottom;
    position: relative;
  }

  .section-one-container {
    align-items: start;
    padding: 3rem 5rem 0 2rem;
    gap: 1rem;
  }

  .section-text {
    justify-content: start;
    align-items: start;
    width: 80%;
  }

  .title-text-cf {
    text-align: start;
  }
  .sub-title-satoshi {
    text-align: start;
    width: 65%;
  }

  .btn-shop {
    width: 15rem;
    height: 3.5rem;
  }

  .section-one-items {
    margin-top: 2rem;
  }

  /*STARS POSITION*/





}

@media (min-width: 1410px) {
  /* HEADER */

  .header-container {
    max-width: 1400px;
  }
 
  .header-items-links {
    gap: 2rem;
    width: 35rem;
  }
  .input-search {
    width: 37rem;
  }
  .header-container-left  {
    margin-left: -2.5rem;
  }
  .input-search {
    width: 99%;
  }

  /* FIRST SECTION */

  .section-text {
    width: 60%;
  }

  .sub-title-satoshi {
    width: 68%;
  }

  .card-content {
    gap: 0.5rem;
  }
  .card-items {
    display: flex;
    width: 20%;
    .text-card {
      width: 95%;
    }
    .card-box {
      width: auto;
      height: 17rem;
    }
  }
  .text-title-card {
    font-size: 1.1rem;
  }
  .text-amount {
    font-size: 1.5rem;
  }
  .text-amount-desconto {
    width: auto;
    height: auto;
    font-size: 1.5rem !important;
  }

}

@media (min-width: 1625px) {
  /* HEADER */
  .header-container {
    max-width: 1600px;
  }

  .input-search {
    width: 99%;
  }
  .header-items-links {
    display: flex;
    width: 70%;
  }

  /* FIRST SECTION */
  .section-one-container {
    padding: 5rem 5rem 0 7.5rem;
  }

  .section-text {
    width: 55%;
  }

  .title-text-cf {
    font-size: 4.5rem;
  }

  .sub-title-satoshi {
    width: 56%;
  }
  .section-one-items {
    gap: 3rem;
  }
  .section-one-items-top {
    gap: 3rem;
  }

  .card-content {
    gap: 0.5rem;
  }
  .card-items {
    display: flex;
    width: 22%;
    .text-card {
      width: 100%;
      padding: 1rem 0 0 0;
    }
    .card-box {
      width: auto;
      height: 80%;
      img {
        width: 25rem;
        height: 25rem;
      }
    }
  }

  .btn-view-all {
    width: 17rem;
    height: 3.5rem;
    }
  

}
